<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <title>苏州城市学院排课系统</title>
  </head>
  <body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-theme-layout-auto mdui-loaded" id="p-d">

<header class="appbar mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme">
    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}">
      <i class="mdui-icon material-icons">menu</i>
    </span>
    <a href="../" class="mdui-typo-headline mdui-hidden-xs">苏州城市学院</a>
    <a href="./" class="mdui-typo-title">排课系统</a>
    <div class="mdui-toolbar-spacer"></div>
    <a class="mdui-btn mdui-color-theme-accent" mdui-menu="{target: '#log_menu'}">{{username}}</a>
      <ul class="mdui-menu" id="log_menu">
          <li class="mdui-menu-item">
            <a href="/logout" class="mdui-ripple">Log out</a>
          </li>
        </ul>
  </div>
</header>

  <div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">


        <div class="
          mdui-collapse-item
          ">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="
              mdui-list-item-icon
              mdui-icon
              material-icons
              mdui-text-color-blue">near_me</i>
            <div class="mdui-list-item-content">信息表</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>

          <div class="mdui-collapse-item-body mdui-list">
            <a href="/xsb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">学生信息表</a>
            <a href="/zyb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">专业信息表</a>
              <a href="/bjb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">班级信息表</a>
            <a href="/jxjhb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">教学计划表</a>
            <a href="/jxrwb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">教学任务表</a>
              <a href="./kcb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">排课课程表</a>
          </div>
    </div>
      <div class="
          mdui-collapse-item
          mdui-collapse-item-open
          ">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="
              mdui-list-item-icon
              mdui-icon
              material-icons
              mdui-text-color-blue">near_me</i>
            <div class="mdui-list-item-content">功能</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
      <div class="mdui-collapse-item-body mdui-list">
                    <a href="./generate_jxjhb" class="
                    mdui-list-item
                    mdui-ripple
                    ">制作教学计划表</a>
                    <a href="./generate_jxrwb" class="
                    mdui-list-item
                    mdui-ripple
                    mdui-list-item-active
                    ">生成教学任务表</a>
                    <a href="./schedule" class="
                    mdui-list-item
                    mdui-ripple
                    ">安排课程</a>
      </div>
      </div>
    </div>
  </div>

    <a id="anchor-top"></a>
    <div class="container p-introduction mdui-container">
    <h1 class="title mdui-text-color-theme">教学任务维护</h1>
        <div class="intro mdui-typo">

        </div>

        <div class="mdui-typo">
        <hr/>
        <div class="mdui-row">

            <div class="mdui-chip">
                <span class="mdui-chip-title">学期：{{xqbs}}</span>
            </div>
            <button class="mdui-btn mdui-ripple mdui-btn-raised mdui-color-theme-accent" mdui-dialog="{target: '#exampleDialog'}">选择学期</button>
        </div>
        <hr/>
        <a></a>
        <form action="/generate_jxrwb" method="post">
        <input type="submit" name="generate" value="从教学计划生成" class="mdui-btn mdui-btn-raised mdui-ripple"/>
        <input type="submit" name="delete" value="删除选定项" class="mdui-btn mdui-btn-raised mdui-ripple"/>
        <div class="mdui-panel" mdui-panel>
            {% for zy in zyqc_list %}
          <div class="mdui-panel-item">
            <div class="mdui-panel-item-header">{{zy}}</div>
            <div class="mdui-panel-item-body">
                <div class="mdui-panel" mdui-panel>
                    {% for bj in zy_dict[zy] %}
                    <div class="mdui-panel-item">
                        <div class="mdui-panel-item-header">{{bj.bjjc}}</div>
                        <div class="mdui-panel-item-body">
                            <div class="mdui-table-fluid">
                            <table class="mdui-table mdui-table-hoverable">
                                <thead>
                                    <tr>
                                      <th>选择</th>
                                      <th>班级代码</th>
                                      <th>课程代码</th>
                                      <th>课程名称</th>
                                      <th>选课容量</th>
                                      <th>课程性质代码</th>
                                      <th>课程性质名称</th>
                                      <th>学期</th>
                                      <th>专业简称</th>
                                      <th>专业代码</th>
                                      <th>入学时间</th>

                                    </tr>
                                    </thead>
                                <tbody>
                                {% for jxrw in jxrw_dict[bj.bjdm] %}
                                <tr>
                                    <td><label class="mdui-checkbox"><input name="jxrw" value="{{jxrw.sxh}}" type="checkbox"/><i class="mdui-checkbox-icon"></i></label></td>
                                    <td>{{jxrw.bjdm}}</td>
                                    <td>{{jxrw.kcdm}}</td>
                                    <td>{{jxrw.kcjc}}</td>
                                    <td>{{jxrw.xkrl}}</td>
                                    <td>{{jxrw.zyptdm}}</td>
                                    <td>{{jxrw.zyptmc}}</td>
                                    <td>{{jxrw.skxq}}</td>
                                    <td>{{jxrw.zyjc}}</td>
                                    <td>{{jxrw.zydm}}</td>
                                    <td>{{jxrw.rxsj}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>
            {% endfor %}


</div>
        </form>



        </div>
    </div>

<div class="mdui-dialog" id="exampleDialog">
      <div class="mdui-dialog-title">学期选择器</div>
      <form action="/generate_jxrwb" method="post">
      <div class="mdui-dialog-content">
                <label>学期:</label>
                    <select multiple id="xqbs" name="xqbs" class="mdui-select">
                        {% for record in sem_list %}
                        <option value="{{record}}">{{record}}</option>
                        {% endfor %}
                    </select>
        </div>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple">取消</button>
        <input type="submit" value="确定" name="query" class="mdui-btn mdui-ripple"/>
      </div>
    </form>
</div>



    <!-- MDUI JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
  </body>
</html>