<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <title>苏州城市学院排课系统</title>
  </head>
  <body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-theme-layout-auto mdui-loaded" id="p-d">

  <div class="mdui-drawer" id="main-drawer">
    <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">

    <div class="
          mdui-collapse-item
          mdui-collapse-item-open
          ">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="
              mdui-list-item-icon
              mdui-icon
              material-icons
              mdui-text-color-blue">near_me</i>
            <div class="mdui-list-item-content">信息表</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <div class="mdui-collapse-item-body mdui-list">
            <a href="./xsb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">学生信息表</a>
              <a href="./zyb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">专业信息表</a>
              <a href="/bjb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">班级信息表</a>
              <a href="./jxjhb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">教学计划表</a>
              <a href="./jxrwb_form" class="
                    mdui-list-item
                    mdui-ripple
                    ">教学任务表</a>
              <a href="./kcb_form" class="
                    mdui-list-item
                    mdui-ripple
                    mdui-list-item-active
                    ">排课课程表</a>
          </div>
        </div>
        <div class="
          mdui-collapse-item
          ">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="
              mdui-list-item-icon
              mdui-icon
              material-icons
              mdui-text-color-blue">near_me</i>
            <div class="mdui-list-item-content">功能</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
      <div class="mdui-collapse-item-body mdui-list">
                    <a href="./generate_jxjhb" class="
                    mdui-list-item
                    mdui-ripple

                    ">制作教学计划表</a>
                    <a href="./generate_jxrwb" class="
                    mdui-list-item
                    mdui-ripple
                    ">生成教学任务表</a>
                    <a href="./schedule" class="
                    mdui-list-item
                    mdui-ripple
                    ">安排课程</a>
      </div>
      </div>
    </div>
  </div>

<header class="appbar mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme">
    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}">
      <i class="mdui-icon material-icons">menu</i>
    </span>
    <a href="../" class="mdui-typo-headline mdui-hidden-xs">苏州城市学院</a>
    <a href="./" class="mdui-typo-title">排课系统</a>
    <div class="mdui-toolbar-spacer"></div>
    <a class="mdui-btn mdui-color-theme-accent" mdui-menu="{target: '#log_menu'}">{{username}}</a>
      <ul class="mdui-menu" id="log_menu">
          <li class="mdui-menu-item">
            <a href="/logout" class="mdui-ripple">Log out</a>
          </li>
        </ul>
  </div>
</header>

  <a id="anchor-top"></a>
  <div class="container p-font mdui-container">
  <h1 class="title mdui-text-color-theme">排课课表</h1>

      <div class="mdui-container">
          <form action="/kcb_form" method="post">
              <div class="mdui-row">


            <div class="mdui-col-xs-4">
                <label>入学年份:</label>
                <select id="rxsj" name="rxsj" class="mdui-select" mdui-select>
                  <option value=" " selected> </option>
                    {% for record in rxsj_list %}
                  <option value="{{record}}">{{record}}</option>
                    {% endfor %}
                </select>
            </div>
              <div class="mdui-col-xs-1">
                  <input type="submit" id="search" name="search" value="查找班级" class="mdui-btn mdui-btn-raised mdui-float-left"/>
              </div>


        </div>
              <div class="mdui-row">
                <div class="mdui-col-xs-2">
                    <label>学期:</label>
                    <select id="sem" name="sem" class="mdui-select" mdui-select>
                      <option value=" " selected> </option>
                        {% for record in sem_list %}
                      <option value="{{record}}">{{record}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mdui-col-xs-2">
                    <label>班级:</label>
                    <select id="clas" name="clas" class="mdui-select" mdui-select>
                      <option value=" " selected> </option>
                        {% for record in clas_list %}
                      <option value="{{record.bjdm}}">{{record.bjjc}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mdui-col-xs-1">
                  <input type="submit" id="confirm" name="confirm" value="确定" class="mdui-btn mdui-btn-raised mdui-float-left"/>
                </div>

            </div>
          </form>

      </div>
    <h3>{{title}}</h3>
  <div class="mdui-table-fluid">

  <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>

              <th></th>
              <th>星期一</th>
              <th>星期二</th>
              <th>星期三</th>
              <th>星期四</th>
              <th>星期五</th>
              <th>星期六</th>
              <th>星期日</th>

            </tr>
            </thead>
            <tbody>
            {% for r in kcb %}
            <tr>
              <td>{{r[0]}}</td>
              <td>{{r[1].name}}<br/>{{r[1].time}}<br/>{{r[1].location}}<br/>{{r[1].teacher}}<br/>{{r[1].fre}} </td>
              <td>{{r[2].name}}<br/>{{r[2].time}}<br/>{{r[2].location}}<br/>{{r[2].teacher}}<br/>{{r[2].fre}} </td>
              <td>{{r[3].name}}<br/>{{r[3].time}}<br/>{{r[3].location}}<br/>{{r[3].teacher}}<br/>{{r[3].fre}} </td>
              <td>{{r[4].name}}<br/>{{r[4].time}}<br/>{{r[4].location}}<br/>{{r[4].teacher}}<br/>{{r[4].fre}} </td>
              <td>{{r[5].name}}<br/>{{r[5].time}}<br/>{{r[5].location}}<br/>{{r[5].teacher}}<br/>{{r[5].fre}} </td>
              <td>{{r[6].name}}<br/>{{r[6].time}}<br/>{{r[6].location}}<br/>{{r[6].teacher}}<br/>{{r[6].fre}} </td>
              <td>{{r[7].name}}<br/>{{r[7].time}}<br/>{{r[7].location}}<br/>{{r[7].teacher}}<br/>{{r[7].fre}} </td>
            </tr>
            {% endfor %}
            </tbody>
  </table>
</div>
  </div>




    <!-- MDUI JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
  </body>
</html>